<!--<div id="chart1"></div>-->
{{chart-basic data=data chartModel=chartModel}}
<table>
<tr><td>樣本數</td><td align="left">{{samples}}</td></tr>
<tr><td>最小值</td><td align="left">{{min}}</td></tr>
<tr><td>最大值</td><td align="left">{{max}}</td></tr>
<tr><td>平均值</td><td align="left">{{mean}}</td></tr>
<tr><td>四分位數</td><td align="left">{{q1}} - {{q2}} - {{q3}}</td></tr>
</table>